body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root{
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: #FCD7D7;
}

.loginForm {
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
}

.loginForm h2{
  margin-bottom: 50px;
}

.loginForm input{
  margin-bottom: 15px ; 
}

.loginForm button{
  margin-top: 20px;
}

.loginForm span{
  margin-top: 10px;
  font-size: .8rem;
}


.signupForm {
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
}

.signupForm h2{
  margin-bottom: 50px;
}

.signupForm input{
  margin-bottom: 15px ; 
}

.signupForm button{
  margin-top: 20px;
}

.signupForm span{
  margin-top: 10px;
  font-size: .8rem;
}

.loading {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.2);
  z-index: 99;
}

nav{
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 0;
  position: fixed;
  display: s;
  bottom: 0;
  background-color: white;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: .8rem;
  width: 100vw;
  height: 50px;
  background-color: white;
}

.search_pets {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  overflow-y: auto;
  margin-bottom: 50px;
  box-sizing: border-box;
}
.search_pets > a{
  text-decoration: none;
}
.search_pets > a > img:hover{
  box-shadow: 2px 3px 5px 2px rgba(0,0,0,.5);
  border: 1px solid silver;
  cursor: pointer;
}

.search_pets > a > span {
  color: white;
  font-size: .8rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  width: 25vw;
  margin-top: -30px;
  box-sizing: border-box;
  margin-bottom: 30px;
  text-shadow: 0 0 2px rgba(255, 0, 234, 0.8)
}
.profile-pet {
  width: 100vw;
  height: 90%;
  overflow-y: auto;
}

.profile-pet > .portrait{
  width: 100%;
  height: 80px;
  -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
  filter: blur(10px);
}
.profile-pet > .avatar{
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid white;
  border-radius: 180px;
  margin-top: -50px;
}
.profile-pet p{
  margin: 0;
}
.profile-pet .name{
  text-transform: uppercase;
  font-weight: bold;
}
.profile-pet .badges{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px 0;
  padding: 0 18px;
  box-sizing: border-box;
}
.profile-pet .info{
  
  
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.profile-pet .details{
  margin: 12px 0;
  box-sizing: border-box;
}
.profile-pet .detail{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid silver;
  padding: 10px 0;
  box-sizing: border-box;
}

.profile-pet .info .description {
  font-size: .8rem;
}

.match-image {
  border-radius: 180px;
}
.profile{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
}
.profile >img{
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: 180px;
}
.profile .infoUser{
  z-index: 99;
  text-align: left;
  padding: 10px;
  text-shadow: 1px 1px 3px black;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 120px;
}
.profile .infoUser > p{
  margin: 0;
}
.profile .infoUser .age{
  font-size: .9rem;
}
.profile {
  font-size: .9rem;
}

@media( min-width: 450px){
  .loginForm, .signupForm {
    width: 300px;
    margin: 100px auto;
  }

  .search_pets {
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;
  }
  .search_pets > a{
    width: 30%;
    height: auto;
    margin: 100px;
  }

  .profile-pet .info, .profile-pet .badges{
    padding: 0 200px;
  }

  .profile-pet .portrait{
    height: 200px;
  }
  .profile-pet .avatar{
    width: 200px;
    height: 200px;
    margin-top: -100px;
  }

  .profile-pet .details > div{
    padding: 20px 0;
  }
}